---
import {
  dossierUrl,
  githubUrl,
  instagramUrl,
  linkedInUrl,
  pinkDogUrl,
} from "../shared/utils";
import Icon from "./Icon";
---

<footer
  id="footer"
  class="flex max-md:flex-col relative justify-around gap-8 bg-neutral text-neutral-content overflow-hidden max-md:pb-[146px]"
>
  <div
    class="absolute right-0 w-full bottom-0 md:top-0 md:w-3/5 min-h-[130px] max-h-[29vh] overflow-hidden"
  >
    <img
      src="https://ik.imagekit.io/lheido/footer.jpg?tr=w-1920,h-640,f-auto,e-grayscale"
      alt=""
      class="absolute top-0 right-0"
    />
  </div>
  <section class="p-8 flex flex-col relative socials">
    <h1 class="text-4xl mt-8">Réseaux sociaux</h1>
    <ul class="flex flex-col gap-8 mt-16 mx-auto">
      <li>
        <a
          class="flex items-center gap-4 hover:text-accent transition-colors"
          href={linkedInUrl}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="linkedin" />
          <span>LinkedIn</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:text-accent transition-colors"
          href={githubUrl}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="github" />
          <span>GitHub</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:text-accent transition-colors"
          href={instagramUrl}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="instagram" />
          <span>Instagram</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-4 hover:text-accent transition-colors"
          href={dossierUrl}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="fold" />
          <span>Dossier de compétences</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="p-8 flex flex-col relative thanks">
    <h1 class="text-4xl mt-auto">Remerciements</h1>
    <p class="mt-8">
      Merci à <a
        class="hover:text-[#ed83c2] transition-colors underline"
        href={pinkDogUrl}
        target="_blank"
        rel="noopener noreferrer">Pink Dog</a
      > pour les photos et les illustrations !
    </p>
  </section>
</footer>

<style>
  :root {
    --footer-duration: 0.5s;
  }

  @media (min-width: 768px) {
    footer {
      @apply border-0 border-primary rounded-3xl;
      min-height: 50vh;
      transition: border var(--footer-duration) ease;
    }

    footer.visible {
      @apply border-[16px];
    }
  }

  .socials {
    transform: translateY(25%);
    transition: transform var(--footer-duration) ease;
  }

  footer.visible .socials {
    transform: translateY(0);
  }

  .thanks {
    transform: translateY(-25%);
    transition: transform var(--footer-duration) ease;
  }

  footer.visible .thanks {
    transform: translateY(0);
  }

  .socials h1 {
    opacity: 0;
    transition: opacity var(--footer-duration) ease;
  }

  footer.visible .socials h1 {
    opacity: 1;
  }

  .socials ul {
    opacity: 0;
    transition: opacity var(--footer-duration) ease;
  }

  footer.visible .socials ul {
    opacity: 1;
  }

  img {
    opacity: 0;
    transform: translateY(-25%);
    transition: opacity var(--footer-duration) ease,
      transform var(--footer-duration) ease;
  }

  footer.visible img {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<script>
  import { inView } from "motion";

  inView(
    "#footer",
    () => {
      document
        .querySelector<HTMLDivElement>("#footer")!
        .classList.add("visible");
    },
    { amount: 0.75 }
  );
</script>
